<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu>
    <menu id="client-menu">
        <menu id="window" label="Window">
        <item label="Minimize"><action name="Iconify" /></item>
        <item label="Maximize"><action name="ToggleMaximize" /></item>
        <item label="Fullscreen"><action name="ToggleFullscreen" /></item>
        </menu>
        <item label="Decorations"><action name="ToggleDecorations" /></item>
        <item label="On top"><action name="ToggleAlwaysOnTop" /></item>
        <item label="On Bottom"><action name="ToggleAlwaysOnBottom" /></item>
        <menu id="workspaces" label="Workspace">
            <item label="Move Left"><action name="SendToDesktop" to="left" /></item>
            <item label="Move Right"><action name="SendToDesktop" to="right" /></item>
            <separator />
            <item label="Always Visible"><action name="ToggleOmnipresent" /></item>
        </menu>
    </menu>
    <menu id="root-menu">
        <separator label=" "/>
        <item label="Web browser"><action name="Execute" command="flatpak run io.gitlab.librewolf-community" /></item>
        <item label="File Manager"><action name="Execute" command="pcmanfm-qt" /></item>
        <item label="Terminal"><action name="Execute" command="foot" /></item>
        <menu id="tasks" label="Tasks">
            <item label="Reconfigure"><action name="Reconfigure" /></item>
            <item label="Exit"><action name="Exit" /></item>
            <item label="Power Menu"><action name="Execute" command="fuzz-power" /></item>
        </menu>
    </menu>
</openbox_menu>
