@define-color theme-base00 #{{base00-hex}};
@define-color theme-base01 #{{base01-hex}};
@define-color theme-base02 #{{base02-hex}};
@define-color theme-base03 #{{base03-hex}};
@define-color theme-base04 #{{base04-hex}};
@define-color theme-base05 #{{base05-hex}};
@define-color theme-base06 #{{base06-hex}};
@define-color theme-base07 #{{base07-hex}};
@define-color theme-base08 #{{base08-hex}};
@define-color theme-base09 #{{base09-hex}};
@define-color theme-base0A #{{base0A-hex}};
@define-color theme-base0B #{{base0B-hex}};
@define-color theme-base0C #{{base0C-hex}};
@define-color theme-base0D #{{base0D-hex}};
@define-color theme-base0E #{{base0E-hex}};
@define-color theme-base0F #{{base0F-hex}};
