! font settings
*.font: monospace:size=12
urxvt.font: xft: monospace:size=12
dmenu.font: monospace:size=12
URxvt.boldFont:

Xft.dpi: 96
Xft.antialias: 1
Xft.hinting: 1
Xft.autohint: 0
Xft.rgba: rgb
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

! urxvt settings
urxvt.termName: rxvt-unicode-256color
urxvt.scrollBar: false
urxvt.scrollbar_right: false
urxvt.internalBorder: 25
urxvt.cursorBlink: true
urxvt.transparent: true
urxvt.shading: 10

! sxiv settings
Sxiv.font: Hack
Sxiv.foreground: #ebdbb2
Sxiv.background: #282828

! general
! *.alpha: 0.9
! hard contrast: *background: #1d2021
*background: #282828
! soft contrast: *background: #32302f
*foreground: #ebdbb2

! Black + DarkGrey
*color0:  #282828
*color8:  #928374

! DarkRed + Red
*color1:  #cc241d
*color9:  #fb4934

! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26

! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f

! DarkBlue + Blue
*color4:  #458588
*color12: #83a598

! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b

! DarkCyan + Cyan
*color6:  #689d6a
*color14: #8ec07c

! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2
