! font settings
*.font: kakwafont:size=8
urxvt.font: xft: kakwafont:size=8
dmenu.font: kakwafont:size=8
URxvt.boldFont:

Xft.dpi: 96
Xft.antialias: 0
Xft.hinting: 1
Xft.autohint: 0
Xft.rgba: rgb
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

! urxvt settings
urxvt.termName: rxvt-unicode-256color
urxvt.scrollBar: false
urxvt.scrollbar_right: false
urxvt.internalBorder: 25
urxvt.cursorBlink: true
! urxvt.transparent: true
! urxvt.shading: 10

! sxiv settings
Sxiv.font: kakwafont
Sxiv.foreground: #657b83
Sxiv.background: #002b36

! colors
*.alpha: 0.9
*.foreground:	#657b83
*.background:	#002b36
! *.fading:	40
*.fadeColor:	#002b36
*.cursorColor:	#93a1a1
*.pointerColorBackground:	#586e75

! black
*.color0:       #073642
*.color8:       #002b36

! red
*.color1:       #dc322f
*.color9:       #cb4b16

! green
*.color2:       #859900
*.color10:      #586e75

! yellow
*.color3:       #b58900
*.color11:      #657b83

! blue
*.color4:       #268bd2
*.color12:      #839496

! magenta
*.color5:       #d33682
*.color13:      #6c71c4

! cyan
*.color6:       #2aa198
*.color14:      #93a1a1

! white
*.color7:       #eee8d5
*.color15:      #fdf6e3
