# Font settings
*.font: xft:cherry:style=Regular:size=11
*.boldFont: xft:cherry:style=Regular:size=11
*.italicFont: xft:cherry:style=Regular:size=11
*.boldItalicFont: xft:cherry:style=Regular:size=11

Xft.hinting: true
Xft.rgba: false
Xft.autohint: false
Xft.hintstyle: hintmedium
Xft.lcdfilter: lcddefault

# URxvt settings
URxvt.termName: rxvt-unicode-256color
URxvt.scrollBar: false
URxvt.scrollbar_right: false
URxvt.transparent: true
URxvt.shading: 35
URxvt.internalBorder: 25
URxvt.depth: 25
URxvt.cursorBlink: true

# Colors
*.background: #161623
*.foreground: #a6bbd9

*.color0: #3B4252
*.color1: #BF616A
*.color2: #A3BE8C
*.color3: #EBCB8B
*.color4: #81A1C1
*.color5: #B48EAD
*.color6: #88C0D0
*.color7: #E5E9F0

*.color8:  #4C566A
*.color9:  #BF616A
*.color10: #A3BE8C
*.color11: #EBCB8B
*.color12: #81A1C1
*.color13: #B48EAD
*.color14: #8FBCBB
*.color15: #ECEFF4
