            custom_theme = {
                text = {gui = "#{{base00-hex}}", cterm = "235", cterm16 = "0"},
                normal = {gui = "#{{base0D-hex}}", cterm = "109", cterm16 = "6"},
                insert = {gui = "#{{base0B-hex}}", cterm = "142", cterm16 = "2"},
                replace = {gui = "#{{base0A-hex}}", cterm = "214", cterm16 = "3"},
                inactive_comment = {gui = "NONE", cterm = "NONE", cterm16 = "NONE"},
                inactive_cursor = {gui = "NONE", cterm = "NONE", cterm16 = "NONE"},
                inactive_menu = {gui = "NONE", cterm = "NONE", cterm16 = "NONE"},
                visual = {gui = "#{{base0C-hex}}", cterm = "108", cterm16 = "6"},
                command = {gui = "#{{base0E-hex}}", cterm = "132", cterm16 = "5"},
                alt_text = {gui = "#{{base06-hex}}", cterm = "223", cterm16 = "7"},
                warning = {gui = "#{{base08-hex}}", cterm = "167", cterm16 = "1"},
            },
