# Base16 {{scheme-name}}
# Author: {{scheme-author}}

$base00 = 0xff{{base00-hex}}
$base01 = 0xff{{base01-hex}}
$base02 = 0xff{{base02-hex}}
$base03 = 0xff{{base03-hex}}
$base04 = 0xff{{base04-hex}}
$base05 = 0xff{{base05-hex}}
$base06 = 0xff{{base06-hex}}
$base07 = 0xff{{base07-hex}}
$base08 = 0xff{{base08-hex}}
$base09 = 0xff{{base09-hex}}
$base0A = 0xff{{base0A-hex}}
$base0B = 0xff{{base0B-hex}}
$base0C = 0xff{{base0C-hex}}
$base0D = 0xff{{base0D-hex}}
$base0E = 0xff{{base0E-hex}}
$base0F = 0xff{{base0F-hex}}
