[colors]
background=#{{base00-hex}}df
text=#{{base06-hex}}ff
input=#{{base06-hex}}ff
match=#{{base08-hex}}ff
selection=#{{base0C-hex}}ff
selection-text=#{{base00-hex}}df
selection-match=#{{base08-hex}}ff
border=#{{base0C-hex}}ff
