[viewer]
window = {{base00-hex}}
transparency = grid
scale = optimal
fixed = yes
antialiasing = yes
slideshow = no
slideshow_time = 7
history = 1
preload = 1

[gallery]
size = 200
cache = 100
fill = yes
antialiasing = no
window = {{base00-hex}}
background = {{base00-hex}}
select = {{base06-hex}}
border = {{base0C-hex}}
shadow = {{base03-hex}}

[list]
order = alpha
loop = yes
recursive = no
all = yes

[font]
name = monospace
size = 14
color = {{base06-hex}}
shadow = {{base03-hex}}
