background={{base00-hex}}bf
border-color={{base0B-hex}}ff
title-color={{base0B-hex}}ff
progress-bar-color={{base0B-hex}}ff

[low]
background={{base00-hex}}bf
title-color={{base0D-hex}}ff
summary-color={{base05-hex}}ff
body-color={{base05-hex}}ff

# [normal]

[critical]
title-color={{base0A-hex}}ff
