[Desktop Entry]
Name=Web Browser
Icon=internet-web-browser
Exec=flatpak run io.gitlab.librewolf-community
Terminal=false
Type=Application
StartupWMClass=librewolf
Categories=Network;
