[Desktop Entry]
Name=Web Browser
Icon=internet-web-browser
Exec=flatpak run io.gitlab.librewolf-community -new-tab %U
Terminal=false
Type=Application
StartupWMClass=librewolf
Categories=Network;
