[Desktop Entry]
Type=Application
Name=File manager
Comment=File manager
Exec=nnn
Terminal=true
MimeType=inode/directory
Icon=file-manager
Categories=System;FileTools;FileManager;ConsoleOnly
Keywords=File;Manager;Management;Explorer;Launcher
