!! Window colors
window.active.title.bg.color: #{{base05-hex}}
window.inactive.title.bg.color: #{{base00-hex}}
window.active.label.text.color: #{{base00-hex}}
window.inactive.label.text.color: #{{base05-hex}}
window.active.border.color: #{{base05-hex}}
window.inactive.border.color: #{{base00-hex}}
window.active.button.iconify.pressed.image.color: #{{base00-hex}}
window.active.button.iconify.disabled.image.color: #{{base0D-hex}}
window.active.button.iconify.unpressed.image.color: #{{base00-hex}}
window.active.button.iconify.toggled.pressed.image.color: #{{base00-hex}}
window.active.button.iconify.toggled.unpressed.image.color: #{{base00-hex}}
window.active.button.max.pressed.image.color: #{{base00-hex}}
window.active.button.max.disabled.image.color: #{{base0D-hex}}
window.active.button.max.unpressed.image.color: #{{base00-hex}}
window.active.button.max.toggled.pressed.image.color: #{{base00-hex}}
window.active.button.max.toggled.unpressed.image.color: #{{base00-hex}}
window.active.button.close.pressed.image.color: #{{base00-hex}}
window.active.button.close.disabled.image.color: #{{base0D-hex}}
window.active.button.close.unpressed.image.color: #{{base00-hex}}
window.active.button.close.toggled.pressed.image.color: #{{base00-hex}}
window.active.button.close.toggled.unpressed.image.color: #{{base00-hex}}
window.active.button.menu.pressed.image.color: #{{base00-hex}}
window.active.button.menu.disabled.image.color: #{{base0D-hex}}
window.active.button.menu.unpressed.image.color: #{{base00-hex}}
window.active.button.menu.toggled.pressed.image.color: #{{base00-hex}}
window.active.button.menu.toggled.unpressed.image.color: #{{base00-hex}}
window.inactive.button.iconify.pressed.image.color: #{{base03-hex}}
window.inactive.button.iconify.disabled.image.color: #{{base0D-hex}}
window.inactive.button.iconify.unpressed.image.color: #{{base03-hex}}
window.inactive.button.iconify.toggled.pressed.image.color: #{{base03-hex}}
window.inactive.button.iconify.toggled.unpressed.image.color: #{{base03-hex}}
window.inactive.button.max.pressed.image.color: #{{base03-hex}}
window.inactive.button.max.disabled.image.color: #{{base0D-hex}}
window.inactive.button.max.unpressed.image.color: #{{base03-hex}}
window.inactive.button.max.toggled.pressed.image.color: #{{base06-hex}}
window.inactive.button.max.toggled.unpressed.image.color: #{{base06-hex}}
window.inactive.button.close.pressed.image.color: #{{base03-hex}}
window.inactive.button.close.disabled.image.color: #{{base0D-hex}}
window.inactive.button.close.unpressed.image.color: #{{base03-hex}}
window.inactive.button.close.toggled.pressed.image.color: #{{base03-hex}}
window.inactive.button.close.toggled.unpressed.image.color: #{{base03-hex}}
window.inactive.button.menu.pressed.image.color: #{{base03-hex}}
window.inactive.button.menu.disabled.image.color: #{{base0D-hex}}
window.inactive.button.menu.unpressed.image.color: #{{base03-hex}}
window.inactive.button.menu.toggled.pressed.image.color: #{{base03-hex}}
window.inactive.button.menu.toggled.unpressed.image.color: #{{base03-hex}}

!! Menu colors
menu.items.bg.color: #{{base00-hex}}
menu.items.text.color: #{{base05-hex}}
menu.items.disabled.text.color: #{{base03-hex}}
menu.items.active.bg.color: #{{base05-hex}}
menu.items.active.text.color: #{{base00-hex}}
menu.separator.color: #{{base05-hex}}
menu.border.color: #{{base05-hex}}
menu.title.bg.color: #{{base05-hex}}
menu.title.text.color: #{{base00-hex}}

!! OSD colors
osd.border.color: #{{base05-hex}}
osd.label.text.color: #{{base05-hex}}
osd.bg.color: #{{base00-hex}}
